#generate a secret KEY
#python3 -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key()) 
SECRET_KEY=WAbkQZsCUedWrvkfdtoBx4hBYYkDNUrndDw2BZRnYaI

# DB_NAME=
# DB_USER=
# DB_PASSWORD=
# DB_HOST=
# DB_PORT=



